@model List<VBS_FrontEnd.Models.Dish>
@{
    ViewBag.Title = "Home Page";
}

<body>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>PhotoUrl</th>
                <th>Req</th>
                <th>Quantity</th>
                <th>UnitInStock</th>
                <th>GroupId</th>
                <th>SubGroupId</th>
            </tr>
        </thead>
        <tbody>
            @foreach (VBS_FrontEnd.Models.Dish dish in Model)
            {
                <tr>
                    <td>@dish.Id</td>
                    <td>@dish.Name</td>
                    <td>@dish.PhotoUrl</td>
                    <td>@dish.Requirements</td>
                    <td>@dish.QuantityPer100GramAmount</td>
                    <td>@dish.UnitInStock</td>
                    <td>@dish.GroupId</td>
                    <td>@dish.SubgroupId</td>
                </tr>
            }
        </tbody>
    </table>
</body>