@model List<VBS_FrontEnd.Models.DishWithNames>
@{
    ViewBag.Title = "Recipe";
}

<h2>Recipes</h2>

<style>
    @* a {
        padding: 1.3em 3em;
        font-size: 1rem;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        font-weight: 500;
        background-color: #343A40;
        border: none;
        border-radius: 45px;
        box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease 0s;
        cursor: pointer;
        outline: none;
        text-decoration-line: none;
        text-align: center;
        vertical-align: middle;
        color: black;
    }

        a:hover {
            background-color: #23c483;
            box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
            color: black;
            transform: translateY(-7px);
        }

        a:active {
            transform: translateY(-1px);
        } *@

        body{
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='2500' height='1000' preserveAspectRatio='none' viewBox='0 0 2500 1000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1066%26quot%3b)' fill='none'%3e%3crect width='2500' height='1000' x='0' y='0' fill='rgba(242%2c 238%2c 230%2c 1)'%3e%3c/rect%3e%3cpath d='M43 1000L1043 0L1218.5 0L218.5 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1067%26quot%3b)'%3e%3c/path%3e%3cpath d='M658 1000L1658 0L1901 0L901 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1067%26quot%3b)'%3e%3c/path%3e%3cpath d='M1102 1000L2102 0L2406.5 0L1406.5 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1067%26quot%3b)'%3e%3c/path%3e%3cpath d='M2495 1000L1495 0L1411 0L2411 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1068%26quot%3b)'%3e%3c/path%3e%3cpath d='M1888 1000L888 0L739.5 0L1739.5 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1068%26quot%3b)'%3e%3c/path%3e%3cpath d='M1359 1000L359 0L-455.5 0L544.5 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1068%26quot%3b)'%3e%3c/path%3e%3cpath d='M1635.5478103753208 1000L2500 135.54781037532086L2500 1000z' fill='url(%26quot%3b%23SvgjsLinearGradient1067%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 1000L864.4521896246791 1000L 0 135.54781037532086z' fill='url(%26quot%3b%23SvgjsLinearGradient1068%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1066'%3e%3crect width='2500' height='1000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient1067'%3e%3cstop stop-color='rgba(241%2c 28%2c 25%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(241%2c 28%2c 25%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient1068'%3e%3cstop stop-color='rgba(241%2c 28%2c 25%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(241%2c 28%2c 25%2c 1)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");            background-attachment: fixed;       

    .recipe-container {
        padding: 20px;
        @* background-color: #f2f2f2; /* Added background color for better visualization */ *@
        width: 100%;
    }

    .dish-container {
        gap: 20px;
        padding: 20px;
        width: 100%;
         @* background-color: #f2eee6; *@
    }

    .dish-card {
        border: 1px solid #ddd;
        width: 100%;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
    }

        .dish-card:hover {
            transform: scale(1.05);
        }

    .dish-image {
        width: 100%;
        height: 350px; /* Adjusted height for better display */
        object-fit: cover;
    }

    .dish-info {
        padding: 10px;
        text-align: center;
        background-color: #f2eee6; 
    }

    .dish-name {
        font-size: 1.2em;
        color: #555;
        margin: 10px 0 5px;
    }

    .group {
        width: 50%;
        background-color: #f2eee6;         
    }

    .requirement {
        width: 50%;
        background-color: #f2eee6; 
    }


    .groups-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
        float: center;
    }

    .requirements-grid {

        margin-left: 15px;
  
         display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
        width: 100%;
        float: center;
        height: 75px;
    }

    .requirement-item {
        border: 1px solid #ddd;
        border-radius: 15px;
        padding: 10px;
        height: 3rem;
        width: 130px;
        
    }

    .groups {
        border: 1px solid #ddd;
        padding: 10px;
        height: 3rem;
    }

    .grids {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
    }
    .dish-container2 {
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        padding: 20px;
    }

    .dish-card2 {
        border: 1px solid #ddd;
        border-radius: 8px;
        overflow: hidden;
        width: 22%;
        margin: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.2s;
         background-color: #f2eee6;  
    }

        .dish-card2:hover {
            transform: scale(1.05);
        }

    .dish-image2 {
        width: 100%;
        height: 150px;
        object-fit: cover;
    }

    .dish-info2 {
        padding: 10px;
        text-align: center;
    }

    .dish-name2 {
        font-size: 1.2em;
        color: #555;
        margin: 10px 0 5px;
    }

    .dish-group2 {
        font-size: 0.9em;
        color: #888;
    }

    .dish-link2 {
        text-decoration-line: none;
        text-decoration: none;
    }
</style>

<div class="recipe-container">
    <div class="dish-container">
        <div class="dish-card">
            <img src="~/Images/@Model[0].PhotoUrl" alt="Gerecht Foto" class="dish-image">
            <div class="dish-info">
                <div class="dish-name"><span><strong>Name:</strong></span> @Model[0].Name</div>
                <div class="dish-name"><span><strong>Weight:</strong></span> @Model[0].UnitInStock</div>
            </div>
            <div class="grids">
                <div class="requirement">
                    <h2 style="margin-left: 15px;">Requirements</h2>
                    <div class="requirements-grid">
                        @for (int i = 0; i < Model[0].Requirements.Count; i++)
                        {
                            <div class="requirement-item">
                                @($"{Model[0].Requirements[i]}:    {Model[0].QuantityPer100GramAmount[i]}g")
                            </div>
                        }
                    </div>
                </div>
                <div class="group">
                    <h2>Type</h2>
                    <div class="groups-grid">
                        <div class="groups">
                           <span><strong>Group:</strong></span> @Model[0].GroupName
                        </div>
                        <div class="groups">
                           <span><strong>Subgroup:</strong></span> @Model[0].SubgroupName
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@if (Model.Count > 1)
{
    <div class="dish-container2">
        @for (int i = 1; i < Model.Count; i++)
        {
            <div class="dish-card2">
                <a href="@Url.Action("Recipe", "VBS", new { Id = Model[i].Id })" class="dish-link2">
                    <img src="~/Images/@Model[i].PhotoUrl" alt="Gerecht Foto" class="dish-image2">
                    <div class="dish-info2"> 
                        <div class="dish-name2"><span><strong>Name:</strong></span> @Model[i].Name</div>
                        <div class="dish-group2"><span><strong>Categorie:</strong></span> @Model[i].GroupName</div>
                    </div>
                </a>
            </div>
        }
    </div>
}